@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
}

body {
  background-color: #080808;
  color: #ffffff;
}

/* Base custom styles to ensure premium feel */
html {
  scroll-behavior: smooth;
}

::selection {
  background: #D946EF;
  color: #080808;
}
